.splash {
	background: url('../img/splash-bg.jpg') bottom center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.splash-text-container {
	position: relative;
	width: 70%;
	left: 15%;
	top: 8vh;
}

.splash-title {
	color: #fff !important;
	font-size: 6em !important;
}

.splash-subtitle {
	color: #fff !important;
	text-shadow: none !important;
	font-weight: lighter;
	font-size: 3em;
	padding: 10px 0px;
}

.splash-description-container {
	position: relative;
	padding: 10px 0px;
	width: 70%;
	left: 15%;
}

.splash-description {
	font-family: 'Lora', serif !important;
	font-weight: lighter;
	color: #fff !important;
	text-shadow: none !important;
	font-size: 1.4em;
	line-height: auto;
}

.splash-social {
	height: 50px;
	text-align: center;
	padding: 10px 0px;
}

.splash-social .shareIcon {
	display: inline;
	color: #fff;
	padding: 0px 10px;
	font-size: 1.5em;
		-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.splash-social .shareIcon:hover {
	color: rgba(240,240,240,0.6);

	    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


.glyphicon:hover {
	color: #fff !important;
}

a.splash-arrow {
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	position: absolute;
	top: 85%;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	line-height: 25px;
	font-weight: bold;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

a.splash-arrow:hover {
	color: #fff !important;
	text-decoration: none;
	bottom: 65px;

	    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

a.splash-arrow:visited {
	color: #fff !important;
}

@-webkit-keyframes pulse {   
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/* Medium Devices, Desktops */
@media all and (max-width : 1024px) {
	.splash-text-container {
		width: 94%;
		left: 3%;
		top: 6vh;
	}
	.splash-title {
		font-size: 6em !important;
		padding-bottom: 10px;
	}

	.splash-subtitle {
		font-size: 3em !important;
		padding: 12px 0px;
	}
	.splash-description-container {
		width: 80%;
		left: 10%;
		padding: 12px 0px;
	}

	.splash-description {
		font-size: 1.4em;
		padding: 12px 0px;
	}

	.splash-social {
		padding: 12px 0px;
	}
}


/* Small devices */
@media all and (max-width: 769px) {

	.splash-text-container {
		width: 94%;
		left: 3%;
		top: 6vh;
	}
	.splash-title {
		font-size: 6em !important;
		padding-bottom: 16px;
	}

	.splash-subtitle {
		font-size: 3em !important;
		padding: 16px 0px;
	}
	.splash-description-container {
		padding: 16px 0px;
	}

	.splash-description {
		font-size: 1.4em;
		padding: 16px 0px;
	}

	.splash-social {
		padding: 16px 0px;
	}
}

/* Extra small devices */
@media all and (max-width: 480px) {

	.splash-text-container {
		width: 84%;
		left: 8%;
		top: 6vh;
	}
	.splash-title {
		font-size: 3em !important;
		padding-bottom: 10px;
	}

	.splash-subtitle {
		font-size: 1.4em !important;
		padding: 10px 0px;
	}

	.splash-description-container {
		padding: 10px 0px;
		width: 100%;
		left: 0%;
	}
	.splash-description {
		font-size: 1em;
	}

	.splash-social {
		padding: 10px 0px;
	}
}

/* Extra small devices */
@media all and (max-width: 320px) {

	.splash-text-container {
		width: 84%;
		left: 8%;
		top: 6vh;
	}
	.splash-title {
		font-size: 2.4em !important;
		padding: 8px 0px;

	}

	.splash-subtitle {
		font-size: 1.2em !important;
		padding: 8px 0px;

	}

	.splash-description-container {
		width: 94%;
		left: 3%;
		padding: 8px 0px;

	}
	.splash-description {
		font-size: 1em;
	}

	.splash-social {
		font-size: 1em;
		padding: 8px 0px;
	}
}
